<% if (title) { %>
    <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
} %>
  
<p><%- messages() %></p>

<div class="account-management">

  <% if (locals.accountData.account_type == "Client") { %>

    <h2>Welcome, <%= locals.accountData.account_firstname %>!</h2>

  <% } else if (locals.accountData.account_type == "Employee" || locals.accountData.account_type == "Admin") { %>

    <h2>Welcome, <%= locals.accountData.account_firstname %>!</h2>
    <h3>Account Management</h3>
    <p><a href="inventory/management">Inventory Management</a></p>

  <% } %>

  <p><a href="/account/update-account/<%= locals.accountData.account_id %>">Update Account Information</a></p>
  <p><a href="/account/delete-account/<%= locals.accountData.account_id %>">Delete Account</a></p>

</div>

